<!-- Header Section -->
<div class="hedder  ">
  <ul type="none">
    <li nav-item> <button>Fox</button></li>
    <li>Email <Span>Shekharjagtap7979@gmail.com</Span></li>
    <li>call <span>+91 8308147979</span></li>
    <li><button>Apply Now</button></li>
  </ul>
</div>

<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-info  ">
    <div class="container">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">About_us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Department</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
