<div class="container">

    <form #stud="ngForm" (ngSubmit)="onsubmit(stud)">

      
<div class="row">
  <div class="form-group">
    <input type="hidden" name="id" class="form-control" #id="ngModel" ngModel
     [(ngModel)]="idd" >
</div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input type="text" class="form-control" name="fname" id="inputEmail4" placeholder="First Name" #fname="ngModel" ngModel [(ngModel)]="fn">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input type="text" class="form-control" id="inputPassword4" name="lname" placeholder="Last Name" ngModel
      [(ngModel)]="ln">
    </div>
  </div>
 
  <div class="row">
    <div class="form-group col-md " >
    <label for="inputEmail4">Address</label>
      <input type="text" class="form-control" id="inputEmail4" name="addr" placeholder="Address" ngModel
      [(ngModel)]="adr">
  </div>
  </div>

  <div class="row">
<div class='form-group col-md-4'>
    <label for="inputCity">City</label>
    <input type="text" class="form-control" id="inputCity" name="city" placeholder="City" ngModel
    [(ngModel)]="ct">
</div>
<div class='form-group col-md-4'>
    <label for="inputState">state</label>
    <select id="inputState" class="form-control" name="state" ngModel [(ngModel)]="st">
        <option selected >Choose...</option>
        <option *ngFor="let i of state" >{{i}}</option>
      </select>
</div>
<div class='form-group col-md-4'>
    <label for="inputzipcode">Zip-code</label>
    <input type="number" class="form-control" id="inputzipcode" placeholder="zip" name="zip" ngModel 
    [(ngModel)]="zp">
</div>

  </div>
  <div class="row">
    <div class="form-group col-md-6">
        <label for="inputBirth">Birth-Date</label>
        <input type="date" class="form-control" id="inputBirth" placeholder="Birth-Date" name="dob" ngModel
        [(ngModel)]="bd">
      </div>

      
  </div>
<div class="row">
    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gen" id="gridRadios1" value="Male" ngModel
          [(ngModel)]="ge">
          <label  for="Male">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gen" id="gridRadios2" value="FeMale" ngModel
          [(ngModel)]="ge">
          <label class="form-check-label" for="FeMale">
        FeMale
          </label>
</div>
      </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="eml" ngModel
      [(ngModel)]="el">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPhone">Phone</label>
      <input type="number" class="form-control" id="inputPhone" name="mob" placeholder="Last Name" ngModel
      [(ngModel)]="ph"> 
    </div>
  </div>

  <div class="row">
    <div class="form-group text-center  " >
        <button class="btn btn-info  p-2" id="save">Save</button>
    
        <button type="reset" class="btn  p-2" id="reset">Reset</button>
    
        <button class="btn p-2" id="Update" (click)="onUpdate(stud)">Update</button>
    </div>
  </div>
    </form>

</div>


<div>
  <table class="table border">
   <tr>
    <th>fname</th>
    <th>lastname</th>
    <th>adrr</th>
    <th>city</th>
    <th>State</th>
    <th>zip-code</th>
    <th>DOB</th>
    <th>Gender</th>
    <th>Email</th>
    <th>mob</th>
    <th>Action</th>
    <th>Action</th>

   </tr>
   <tr *ngFor="let i of alldata" class="border">
    <td>{{i.fname}}</td>
    <td>{{i.lname}}</td>
    <td>{{i.addr}}</td>
    <td>{{i.city}}</td>
    <td>{{i.state}}</td>
    <td>{{i.zip}}</td>
    <td>{{i.dob}}</td>
    <td>{{i.gen}}</td>
    <td>{{i.eml}}</td>
    <td>{{i.mob}}</td>
    <td><button class="btn btn-primary" (click)="onDel(i)">DELETE</button></td>
    <td><button class="btn btn-primary "(click)="onEdit(i)">EDIT</button></td>
   </tr>
  </table>

</div>